#--------------------------
# disallow anything
#--------------------------
**

#--------------------------
# allow explicit
#--------------------------


# app-builder
!packages/app-builder/src
!packages/app-builder/tsconfig.json
!packages/app-builder/gulpfile.js
!packages/app-builder/package.json
!packages/app-builder/config.json

# code-analyzer
!packages/code-analyzer/src
!packages/code-analyzer/package.json
!packages/code-analyzer/tsconfig.json
!packages/code-analyzer/rollup.config.js
!packages/code-analyzer/config.json

# sketch-builder
!packages/sketch-builder/src
!packages/sketch-builder/assets
!packages/sketch-builder/package.json
!packages/sketch-builder/tsconfig.json
!packages/sketch-builder/rollup.config.js
!packages/sketch-builder/config.json

# sketch-validator
!packages/sketch-validator-nodejs-wrapper/src
!packages/sketch-validator-nodejs-wrapper/package.json
!packages/sketch-validator-nodejs-wrapper/tsconfig.json
!packages/sketch-validator-nodejs-wrapper/rollup.config.js
!packages/sketch-validator-nodejs-wrapper/sketchlint.json
!packages/sketch-validator/tests/fixtures/_colors.scss

# root tsconfig
!tsconfig.json
!config
