.validation-configuration {
  padding: 40px;
}

.rules {
  padding: 0;

  li {
    list-style-type: none;
    margin-bottom: 0.3em;
  }
}

.validation-actions {
  margin-top: 20px;
}

.validation-configuration__selects {
  display: flex;
}

mat-form-field {
  & + & {
    margin-left: 10px;
  }
}

::ng-deep .mat-checkbox-label {
  white-space: initial;
  line-height: 1.5em;
}

// select with div to be a little bit more specific than the material margin
::ng-deep div.mat-checkbox-inner-container {
  margin-top: 0.4em;
}
