.entry {
  cursor: pointer;
  transition: all 400ms ease-out;

  &:hover {
    border-radius: 5px;
    background-color: lightblue;
  }
}

.panel-title {
  height: 50px;
  display: flex;
  align-items: center;
}

.panel-badges {
  margin-right: 10px;
}

.badge {
  font-size: 0.7em;
  margin-right: 5px;
  padding: 2px 7px;
  color: white;
  background: #caefcb;
  border-radius: 15px;
  white-space: nowrap;

  &.badge--failings {
    background: #f28289;
  }
}

.scroll-viewport {
  min-height: 200px;
  height: 400px;
  width: 100%;

  &.viewport--small {
    height: 200px;
  }

  &.viewport--large {
    height: 600px;
  }
}
